<% include head.ejs%>

    <div id='root'></div>
    <script src="https://simplewebrtc.com/latest-v2.js"></script> 
    <script src="/dist/bundle.js"></script>
    <script>
        var webrtc = new SimpleWebRTC({
        // the id/element dom element that will hold "our" video
        localVideoEl: 'localVideo',
        // the id/element dom element that will hold remote videos
        remoteVideosEl: 'remotesVideos',
        // immediately ask for camera access
        autoRequestMedia: true
        });

        webrtc.on('readyToCall', function () {
            // you can name it anything
            webrtc.joinRoom('Victor rox, no 4 realz');
        });
    </script>
    
<% include foot.ejs%>